<p id="notice"><%= notice %></p>

<h2>
  <strong><%= @user.username %></strong>
</h2>

<% if @user.ratings.empty? %>
    has made no ratings yet.
<% else %>
    has made <%= pluralize(@user.ratings.count, "rating") %> with an average of <%= @user.rating_average %>
<% end %>

<% if @user.beer_clubs.any? %>
    <p>member of
      <% @user.beer_clubs.each do |club| %>
          <%= link_to club.name, club%>
      <% end %>
    </p>
<% else %>
    <p>no beer club memberships</p>
<% end %>

<h3>
  <strong>ratings</strong>
</h3>

<p>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
<% end %>
</p>


<% if @user.favorite_style %>
    users favorite beer style is <%= @user.favorite_style %>
<% end %>
<br>
<% if @user.favorite_brewery %>
    users favorite brewery is <%= @user.favorite_brewery %>
<% end %>


<br><br>

<% if @user==current_user%>
    <%= link_to 'change password', edit_user_path(@user) %> <br>
    <%= link_to 'destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }  %>
<% end %>
