<h1>Ratings</h1>
<p> Number of ratings: <%= @ratings.count %> </p>

<p>Best beers</p>
<tbody>
<ul>

  <% @top_beers.each do |beer| %>
      <li> <%= beer.name  %> <%= beer.average_rating %>  </li>
  <% end %>
</ul>
</tbody>


<p>Best breweries</p>
<tbody>
<ul>

  <% @top_breweries.each do |brewery| %>
      <li> <%= brewery.name %> <%= brewery.average_rating %> </li>
  <% end %>
</ul>
</tbody>


<p>Best styles</p>
<tbody>
<ul>
  <% @top_styles.each do |style| %>
      <li> <%= style.name %> <%= style.average_rating %>   </li>
  <% end %>
</ul>
</tbody>


<p>Most ratings</p>
<tbody>
<ul>
  <% User.best_raters.each do |user| %>
      <li> <%= user.username + ' - ' + user.ratings.count.to_s %> ratings</li>
  <% end %>
</ul>
</tbody>

<p>Recent ratings</p>
<tbody>
<ul>
  <% Rating.recent.each do |rating| %>
      <li> <%= rating %> <%= link_to 'delete', rating_path(rating.id), method: :delete, data: { confirm: 'Are you sure?' } %> </li>
  <% end %>
</ul>
</tbody>

<br>

<%= link_to('New Rating', new_rating_path, class:'btn btn-primary') if current_user %>